- image_src = localized_object[property] ? localized_object.send(property.to_s + '_url') : local_assigns[:default_value]
img alt="imagem" src="#{image_src}" alt="#{local_assigns[:title]}" class="#{local_assigns[:class]}" /