= best_in_place localized_object, property, as: :input, class: 'inplace_editor inplace_editor_string', :ok_button => 'Salvar', :cancel_button => 'Cancelar', :place_holder => local_assigns[:place_holder] ? local_assigns[:place_holder] : "[troque o texto aqui]"