= best_in_place localized_object, property, as: :textarea, class: 'best_in_place_textarea inplace_editor inplace_editor_text', :place_holder => local_assigns[:place_holder] ? local_assigns[:place_holder] : "[texto aqui]", sanitize: false, :ok_button => 'Salvar', :cancel_button => 'Cancelar', :display_with  => lambda { |v| markdown(v, '[texto aqui]') }